[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
feedparser = "*"
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
django-filter = "*"
django-widget-tweaks = "*"
django-bootstrap-form = "*"
sorl-thumbnail = "*"
python-card-me = "*"
"ldif3" = "*"
six = "*"
surlex = "*"
unicodecsv = "*"
pillow = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"

[requires]
python_version = "3.5"
