[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
feedparser = "*"
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
django-filter = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.5"
