<hr>
<div class="post-block">
<form enctype="multipart/form-data" method="post" action="/newsletter/{{name}}/subscribe/">
	{% csrf_token %}
    <div class="text-center">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </div>
    <div class="text-center">
        <h3>Subscribe for our newsletter</h3>
    </div>
    <div class="form-group">
        <input type="email" name="email_field" placeholder="Email" required="" class="form-control" id="id_email_field">
    </div>
    <div class="form-group" style="text-align: center;">
        <button id="id_submit" name="submit" value="Subscribe" type="submit" class="btn pd-3 btn-card">Subscribe</button>
    </div>
</form>
</div>
