{% if images %}
<section class="banner-sec category-banner m-2 shadow-sm">
    <div class="fluid-container">
        <div class="top-head">
            <h3 style="display: inline-block;">Trending Images</h3>
            <a class="btn pd-3 btn-card" href="{% url 'lookbook:home' %}" alt="lookbook" rel="canonical">Discover More</a>
        </div>
        <div class="card-group mt-3">
            <div id="columns" class="columns_4 infinite-container">
                {% for image in images %} {% include "lookbook/image/image_item.html" %} {% endfor %}
            </div>
        </div>
        <!-- /.card-group -->
    </div>
    <!-- /.container -->
</section>
{% endif %}