{% if offers %}
<section class="banner-sec category-banner m-2 shadow-sm">
    <div class="fluid-container">
        <div class="top-head">
            <h3 style="display: inline-block;">Trending Deals</h3>
            <a class="btn pd-3 btn-card" href="{% url 'locator:offer_list' %}" alt="Deals, Coupons" rel="canonical" title="Click here for Deals, discounts and coupons">Explore More</a>
        </div>
        <div class="card-group mt-3">
            <div id="columns" class="columns_4 infinite-container">
                {% for offer in offers %} {% include "locator/deals/deals_item_popular.html" %} {% endfor %}
            </div>
        </div>
        <!-- /.card-group -->
    </div>
    <!-- /.container -->
</section>
{% endif %}