{% extends 'locator/common/base.html' %} {% block app_title %}{{name|capfirst}}{% endblock %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2">
    <div class="row m-0 jumbotron">
        <div class="col-md-12 text-center">
            <h1 class="p-2">{{name|capfirst}}</h1>
        </div>
        {% include '../common/filter.html' %}
        <div class="col-md-10">
            <div id="columns" class="columns_4 infinite-container">
                {% if products %} {% for product in products %} {% include 'locator/product/product_item_search.html' %} {% endfor %} {% else %}
                <h3> No Product matches your criteria</h3>
                {% endif %}
            </div>
            {% if products.has_next %}
            <a class="infinite-more-link pd-5" href="?page={{ products.next_page_number }}" rel="canonical"></a> {% endif %}
            <div style="text-align:center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340" class="loader pd-5" style="display: none;text-align: center;">
                 <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                 <circle cx="170" cy="170" r="135" stroke="#404041"/>
                 <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                 <circle cx="170" cy="170" r="85" stroke="#404041"/>
            </svg>
        </div>
        </div>
    </div>
</div>
<script>
var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function() {
        $('.loader').show();
    },
    onAfterPageLoad: function($items) {
        $('.loader').hide();
    }
});
</script>
{% endblock %}