{% extends 'locator/common/base.html' %} {% block app_title %}{{product.name}}{% endblock %} {% load humanize %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2 pt-5">
    <div class="row pd-5">
        <div class="col-sm-6" style="text-align:center;max-height:400px;">
            <img class="img-responsive" src="{{product.images.0}}" alt="{{product.name}}" style="max-width: 89%;max-height: 350px;">
        </div>
        <div class="col-sm-6">
            <h2>{{product.name}}</h2>
            <span class="price">₹ {{product.price|intcomma}} <del class="ml-3" style="color: grey;">₹ {{product.old_price|intcomma}}</span>
            <div class="mt-5">
                <a class="buy_button" href='{{product.store_url}}' rel="nofollow">Buy Now</a>
            </div>
            <hr>
            <h3>Description</h3>
            <div class="item_description mt-3">
                {% autoescape off %} {{product.description}} {% endautoescape %}</div>
        </div>
        <!-- Featured products -->
        <div class="col-md-12 mt-5 pd-5">
            <h3 class="ml-5">Similar Products</h3>
            <div id="columns" class="columns_4">
                {% for product in latest_products %} {% include 'locator/product/product_item.html' %} {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}