{% load humanize %} {% load products %}
<figure class="infinite-item">
	<a href='{% url "locator:product_detail" product.get_category_slug product.slug %}' title="{{product.name}}" rel="canonical">
    <img src="{{product.images.0}}" alt="{{product.name}}" title="{{product.name}}">
    <figcaption name="name">{{product.name|name}}</figcaption>
    <span class="price">₹ {{product.price|intcomma}}</span>
</a>
</figure>