{% extends 'locator/common/base.html' %} {% block app_title %}{{product.name}}{% endblock %} {% load humanize %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2 pt-5">
    <div class="row pd-5">
        <div class="col-sm-6" style="text-align:center;max-height:400px;">
            <img class="img-responsive" src="{{product.images.0}}" alt="{{product.name}}" style="max-width: 89%;max-height: 350px;">
        </div>
        <div class="col-sm-6">
            <h1 itemprop="name">{{product.name}}</h1>
            <span class="price" itemprop="price">₹ {{product.price|intcomma}} <del class="ml-3" style="color: grey;">₹ {{product.old_price|intcomma}}</span>
            <div class="mt-5">
                <a class="btn pd-3 btn-card" href='{{product.store_url}}' target="_blank" rel="noopener noreferrer nofollow">Buy Now</a>
            </div><hr>
            {% spaceless %}
            {% if product.description %}
                <h3>Description</h3>
                <div class="item_description mt-3">
                {% autoescape off %} {{product.description}} {% endautoescape %}</div>
            {% endif %}
            {% endspaceless %}
        </div>
        <!-- Featured products -->
        {% if latest_products %}
        <div class="col-md-12 mt-5 pd-5 category-banner shadow-sm">
            <h3 class="ml-2">More Featured Products</h3>
            <div id="columns" class="columns_4">
                {% for product in latest_products %} {% include 'locator/product/product_item.html' %} {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
