.image-container .columns_4 figure {
	width: 24%;
}

.image-container div#columns figure img {
	border: none;
	max-height: 250px;
	height: auto;
	padding-bottom: 0px;
}

.image-container div#columns figure {
	padding: 3px;
	padding-bottom: px
}