<div class="col-sm-12">
            <h3 class="text-left ml-2">Top Collections</h3>
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
            	{% for brand in brands %}
                <img class="card-img-right flex-auto d-none d-md-block img-thumbnail" src="{{brand.image}}" alt="Shoppstar-{{brand.name}}">
                {% endfor %}
                <!-- <img class="card-img-right flex-auto d-none d-md-block img-thumbnail" data-src="https://fashionunited.de/images/landing-pages/esprit/esp_fashionunited_970x647_02.jpg" src="http://via.placeholder.com/250x150" alt="Card image cap">
                <img class="card-img-right flex-auto d-none d-md-block img-thumbnail" data-src="https://fashionunited.de/images/landing-pages/esprit/esp_fashionunited_970x647_02.jpg" src="http://via.placeholder.com/250x150" alt="Card image cap">
                <img class="card-img-right flex-auto d-none d-md-block img-thumbnail" data-src="https://fashionunited.de/images/landing-pages/esprit/esp_fashionunited_970x647_02.jpg" src="http://via.placeholder.com/250x150" alt="Card image cap">
                <img class="card-img-right flex-auto d-none d-md-block img-thumbnail" data-src="https://fashionunited.de/images/landing-pages/esprit/esp_fashionunited_970x647_02.jpg" src="http://via.placeholder.com/250x150" alt="Card image cap"> -->
            </div>
        </div>