{% extends 'blog/common/base.html' %}{% load post_extras %} {% load newsletter %}{% block title %}{{post.title}}{% endblock %} {% block app_body %}
<div class="col-lg-8 col-md-12">
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <div>
        {% autoescape off %} {{ post.body }} {% endautoescape %}
    </div>
</div>
<aside class="col-lg-4 side-bar col-md-12 right-menu">
        {% subscribe_newsletter %}
    <hr>
    <div class="post-block">
        <h3>Top Posts</h3>
        <div class="tab-content sidebar-tabing">
            <div class="tab-pane active" id="home" role="tabpanel">
                {% top_posts post.category_id 5 %}
            </div>
        </div>
    </div>
    <hr>
    <div class="post-block">
        <h3>Featured Posts</h3>
        <div class="tab-content sidebar-tabing">
            <div class="tab-pane active" id="home-{{post.category_id}}" role="tabpanel">
                {% featured_posts post.category_id 5 %}
            </div>
        </div>
    </div>
    <hr>
    <div class="post-block">
        <h3>Latest Posts</h3>
        <div class="tab-content sidebar-tabing">
            <div class="tab-pane active" id="home-{{post.category_id}}" role="tabpanel">
                {% latest_posts post.category_id 5 %}
            </div>
        </div>
    </div>
    <hr>
    <div class="post-block">
        <h3>Shop Now</h3>
        <div class="tab-content sidebar-tabing">
            <div class="tab-pane active" id="home-{{post.category_id}}" role="tabpanel">
                {% show_products_by_post post.category_id 10 %}
            </div>
        </div>
    </div>
        {% subscribe_newsletter %}
</aside>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b75c91b94940306"></script>
{% endblock %}