{% load static %}
{% load products %}
<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-danger" href="javascript:void;">
            <i class="fas fa-bars"></i>
        </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a class="blog-header-logo text-dark" href="{% url 'locator:home' %}"><img src="{% static 'images/logo.png' %}" title="Online shopping site for best deals, coupons. Shop best  Women Clothing, Shoes, Home &  Accessories online on Zeshastyles across world." alt="zeshastyles"></a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- sidebar-header  -->
            <!-- <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Product</span>
                    </li>
                    {% for category in categories %}
                    <li class="sidebar-dropdown">
                        <a href="javascript:void;">
                                <!-- <i class="fa fa-tachometer-alt"></i> -->
                                <span>{{category.name}}</span>
                                <!-- <span class="badge badge-pill badge-danger">New</span> -->
                            </a>
                        <div class="sidebar-submenu">
                            <ul>
                                {% for children in category.children.all %}
                                {% if children.slug and not children.disabled %}
                                <li>
                                    <a href='{% url "locator:category_products" children.slug %}'>{{children.name|checkName}}
                                            <!-- <span class="badge badge-pill badge-success">Pro</span> -->
                                        </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="header-menu">
                        <span>Articles</span>
                    </li>
                    <li>
                        <a href="{% url 'blog:post_list' %}">
                                <!-- <i class="fa fa-book"></i> -->
                                <span>Fashion Articles & News</span>
                            </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zeshastyles/"><i id="social-fb" class="fab fa-facebook-square fa-1x social"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://plus.google.com/u/0/106725238703021839319"><i id="social-fb" class="fab fa-google-plus-g fa-1x social"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/zeshastyles"><i id="social-fb" class="fab fa-twitter fa-1x social"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/zeshastyles/"><i class="fab fa-linkedin-in fa-1x social"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://in.pinterest.com/Zeshastyles/"><i class="fab fa-pinterest fa-1x social"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://zeshastyles.tumblr.com/"><i class="fab fa-tumblr fa-1x social"></i></a>
        </div>
    </nav>
</div>