{% extends 'locator/common/base.html' %} {% block app_title %} 404 Not Found {% endblock %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2">
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <h1 class="mb-4 lead">Ahh, The page you are looking for was not found.</h1>
                <h1 class="mb-4">Either the link is broken or product is not available anymore.</h1>
                <a href="{% url 'locator:home' %}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}