{% extends 'locator/common/base.html' %} {% block app_title %} 500 Server encountered some error please try again {% endblock %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2">
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <h1 class="mb-4 lead">Server encountered some error. Please try again after some time.</h1>
                <a href="{% url 'locator:home' %}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}