{% load post_extras %} {% if featured_posts_by_category %}
<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">{{category.name}}</h3>
                <div class="">
                    {% for post in featured_posts_by_category %}
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="{{post.images.0}}" alt="{{post.title}}">
                            <div class="card-body">
                                <div class="news-title">
                                    <a href="{{post.get_absolute_url}}">
                                        <h2 class="title-small">{{post.title}}</h2>
                                    </a>
                                </div>
                                <p class="card-text">{{post.short_description| truncatewords:30}}...</p>
                                <p class="card-text"><small class="text-time"><em>{% humanizeTimeDiff post.updated %}</em></small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <ul class="nav nav-tabs" role="tablist" id="myTab-{{category.slug}}">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home{{category.slug}}" role="tab">Latest</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile-{{category.slug}}" role="tab">Top</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages-{{category.slug}}" role="tab">Featured</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content sidebar-tabing" id="nav-tabContent-{{category.slug}}">
                    <div class="tab-pane active" id="home-{{category.slug}}" role="tabpanel">
                        {% latest_posts category.id %}
                    </div>
                    <div class="tab-pane" id="profile-{{category.slug}}" role="tabpanel">
                        {% top_posts category.id %}
                    </div>
                    <div class="tab-pane" id="messages-{{category.slug}}" role="tabpanel">
                        {% featured_posts category.id %}
                    </div>
                </div>
                <!-- <div class="video-sec">
                    <h4 class="heading-small">Featured Video</h4>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> -->
            </aside>
        </div>
    </div>
</section>
{% endif %}