<figure class="infinite-item">
	<a href='{% url "lookbook:image_detail" image.slug %}' title="{{image.title}}">
    <img src="{{image.medium_url}}" alt="{{image.title}}" title="{{image.title}}">
    <figcaption name="name">{{image}}</figcaption>
</a>
</figure>