{% extends 'common/base.html' %} {% load lookbook %} {% block title %} {{image_data.title}} {% endblock title %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2 pt-5 pb-5">
        <div class="col-md-12 text-center p-1">
            <h1>{{image_data.title}}</h1> 
        </div>
    <div class="row pd-5">
        <div class="col-sm-12" style="text-align:center;">
            <img class="img-responsive" src="{{image_data.get_large_url}}" alt="{{image_data.title}}" style="max-width: 90%;max-height: 500px;" title="{{image_data.title}}">
        </div>
        <div class="col-md-12">
            {% show_featured_images %}
        </div>
    </div>
</div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b75c91b94940306"></script>
{% endblock %}