{% extends "newsletter/newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter detail" %}{% endblock title %}

{% block body %}
<div class="row pb-5 mb-5">
    <div class="col-md-12 pd-5">
        <h2>{% trans "Newsletter" %} {{ object.title }}</h2>
    </div>
    <div class="col-md-2">
        <div><a href="{% url "newsletter:newsletter_subscribe_request" object.slug %}">{% trans "Subscribe" %}</a></div>
    </div>
    {% if not user.is_authenticated %}
    <div class="col-md-2">
        <div><a href="{% url "newsletter:newsletter_update_request" object.slug %}">{% trans "Update" %}</a></div>
    </div>
    {% endif %}
    <div class="col-md-2">
        <div><a href="{% url "newsletter:newsletter_unsubscribe_request" object.slug %}">{% trans "Unsubscribe" %}</a></div>
    </div>
    <div class="col-md-2">
        <div><a href="{% url "newsletter:newsletter_archive" object.slug %}">{% trans "Archive" %}</a></div>
    </div>
    <div class="col-md-2">
        <div><a href="../">{% trans "Back to list" %}</a></div>
    </div>
</table>
</div>
{% endblock body %}
