{% load products %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item"><a class="p-2 text-muted nav-link" href="{% url 'locator:home' %}">Home</a> </li>
      {% for category in categories %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href='{% url "locator:category_products" category.slug %}' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{category.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-dark">{{category.name|checkName}}</span>
              <ul class="nav flex-column">
              {% for children in category.children.all|slice:":4" %}
               {% if children.slug %}
              	<li class="nav-item">
		                  <a class="nav-link active" href='{% url "locator:category_products" children.slug %}' rel="canonical">{{children.name|checkName}}</a>
		                </li>
		                {% endif %}
              {% endfor %}
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                	<ul class="nav flex-column">
              {% for children in category.children.all|slice:"4:8" %}
               {% if children.slug %}
              	<li class="nav-item">
		                  <a class="nav-link active" href='{% url "locator:category_products" children.slug %}'>{{children.name|checkName}}</a>
		                </li>
		                {% endif %}
              {% endfor %}
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                	<ul class="nav flex-column">
              {% for children in category.children.all|slice:"8:12" %}
               {% if children.slug %}
              	<li class="nav-item">
		                  <a class="nav-link active" href='{% url "locator:category_products" children.slug %}'>{{children.name|checkName}}</a>
		                </li>
		                {% endif %}
              {% endfor %}
              </ul>
              </div>
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      {% endfor %}
      <li class="nav-item"><a class="p-2 nav-link" href="{% url 'blog:post_list' %}">Fashion Articles & News</a> </li>
    </ul>
  </div>


</nav>