<nav class="main-navigation">
    <ul class="nav-list pb-3">
    	<li class="nav-list-item"><a class="p-2 text-muted nav-link" href="{% url 'locator:home' %}">Home</a> </li>
        {% for category in categories %}
        <li class="nav-list-item"><a class="p-2 text-muted nav-link" href='{% url "locator:category_products" category.slug %}'>{{category.name}}</a> </li> {% endfor %}
        <li class="nav-list-item"><a class="p-2 text-muted nav-link" href="{% url 'blog:post_list' %}">Fashion Articles & News</a> </li>
    </ul>
</nav>