{% load widget_tweaks %}
<div class="col-md-2 product-filter-section bg-white">
    <div class="col-md-12 mb-5 p-0">
        <form method="get">
            <div class="well">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 p-0 mt-2">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{ filter.form.brand.label_tag }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        {% for choice in filter.form.brand %}
                                        <label class="checkbox-inline">
                                            {{ choice.tag }} {{ choice.choice_label }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                             {{ filter.form.category.label_tag }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        {% for choice in filter.form.category %}
                                        <label class="checkbox-inline">
                                            {{ choice.tag }} {{ choice.choice_label }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 price-filter-section">
                            {{ filter.form.price.label_tag }} {% render_field filter.form.price class="form-control" %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn pd-3 btn-card">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </form>
    </div>
</div>