{% load static %}
{% load category_tag %}
<footer class="blog-footer">
    <section class="footers bg-light">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" style="width:120px;">
                    </div>
                    <div class="social-icons">
                        <a target="_blank" alt="zeshastyles facebook page" rel="noopener noreferrer" href="https://www.facebook.com/zeshastyles/"><i id="social-fb" class="fab fa-facebook-square fa-1x social"></i></a>
                        <a target="_blank" alt="zeshastyles google plus page" rel="noopener noreferrer" href="https://plus.google.com/u/0/106725238703021839319"><i id="social-fb" class="fab fa-google-plus-g fa-1x social"></i></a>
                        <a target="_blank" alt="zeshastyles twitter page" rel="noopener noreferrer" href="https://twitter.com/zeshastyles"><i id="social-fb" class="fab fa-twitter fa-1x social"></i></a>
                        <a target="_blank" alt="zeshastyles company page" rel="noopener noreferrer" href="https://www.linkedin.com/company/zeshastyles/"><i class="fab fa-linkedin-in fa-1x social"></i></a>
                        <a target="_blank" alt="zeshastyles pinterest page" rel="noopener noreferrer" href="https://in.pinterest.com/Zeshastyles/"><i class="fab fa-pinterest fa-1x social"></i></a>
                        <a target="_blank" alt="zeshastyles tumblr page" rel="noopener noreferrer" href="https://zeshastyles.tumblr.com/"><i class="fab fa-tumblr fa-1x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 footers-two">
                    <h5>Category</h5>
                    {% list_categories %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Fashion</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                        <li><a href="{% url 'newsletter:newsletter_subscribe_request' 'trending-products' %}">Newsletter</a></li>
                        <li><a href="{% url 'lookbook:home' %}">Lookbook</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                    <h5>Company </h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'locator:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="disclaimer bg-light border">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 py-2">
                    <small>
                   Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
               </small>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted">© 2018 Zesha Styles Pvt. Ltd.</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<script async type='text/javascript'>
    var pubID = '46354CL41816';

    (function(d, t) {
    var s = document.createElement('script');s.type = 'text/javascript';
    s.async = true;s.src = (document.location.protocol == 'https:' ? 'https://cdn0.cuelinks.com/js/' : 'http://cdn0.cuelinks.com/js/')  + 'cuelinksv1.js';
    document.getElementsByTagName('body')[0].appendChild(s);
    }());
</script>
