{% load staticfiles %}
<footer class="blog-footer">
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="{% static 'images/shoppstar.png' %}" alt="Logo" style="width:120px;">
                    </div>
                    <!-- <div class="footers-info mt-3">
    		        <p>Online store for fashional clothes and accessories.</p>
    		    </div> -->
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 footers-two">
                    <h5>Category</h5>
                    <ul class="list-unstyled">
                        {% for category in categories %}
                        <li><a href="{% url 'locator:category_products' category.slug %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Services </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="">Advertise with us</a></li>
    			</ul>
    		</div> -->
                <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                    <h5>Company </h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'locator:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="disclaimer bg-light border">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 py-2">
                    <small>
                   Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
               </small>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted">© 2018 Alacritic Pvt. Ltd.</p>
                </div>
            </div>
        </div>
    </section>
</footer>