{% load static %}
<header class="blog-header py-3">
    <div class="top-head left">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-4 text-center">
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <a class="blog-header-logo text-dark" href="{% url 'locator:home' %}"><img src="{% static 'images/logo_text.png' %}" title="Zeshastyles" alt="zeshastyles" style="width:90%"></a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center navigation-search">
                    <form class="ml-auto" action="/search/" method="get">
                        <input type="text" class="textbox" placeholder="Search" name="q" />
                        <input title="Search" value="" type="submit" class="search-button button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>