{% extends 'common/base.html' %} {% block app_body %}
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        {% for category in categories %}
       <a class="p-2 text-muted" href='{% url "locator:category_products" category.slug %}'>{{category.name}}</a> {% endfor %}
    </nav>
</div>
<div class="row jumbotron">
    <div id="wrap">
        <div id="columns" class="columns_4">
            <figure>
                <img src="{{product.images.0}}">
                <figcaption>{{product.name}}</figcaption>
                <span class="price">₹ {{product.price}}</span>
                <a class="button" href='{{product.storeUrl}}'>Buy Now</a>
            </figure>
        </div>
    </div>
</div>
{% endblock %}