{% extends 'locator/common/base.html' %} {% load category_tag %} {% load static from staticfiles %} {% block app_body %} {% include './components/products_carousel.html' %}
<div class="fluid-container mt-5 ml-2 mr-2">
    <div class="row mb-2">
        {% show_brands %}
        <div class="col-sm-12 mt-5">
            <h3 class="text-left ml-2">Top Selling</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                <a href='{% url "locator:product_detail" product.category.slug product.slug %}' title="{{product.name}}">
                    <figure>
                        <img src="{{product.images.0}}">
                        <figcaption>{{product.name}}</figcaption>
                        <span class="price">₹ {{product.price}}</span>
                    </figure>
                </a>{% endfor %}</div>
        </div>

        <div class="col-sm-12 mt-5">
            <h3 class="text-left ml-2">Trending styles</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                <a href='{% url "locator:product_detail" product.category.slug product.slug %}' title="{{product.name}}">
                    <figure>
                        <img src="{{product.images.0}}">
                        <figcaption>{{product.name}}</figcaption>
                        <span class="price">₹ {{product.price}}</span>
                    </figure>
                </a>{% endfor %}</div>
        </div>
        <div class="col-sm-12 mt-5">
            <h3 class="text-left ml-2">On Sale</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                <a href='{% url "locator:product_detail" product.category.slug product.slug %}' title="{{product.name}}">
                    <figure>
                        <img src="{{product.images.0}}">
                        <figcaption>{{product.name}}</figcaption>
                        <span class="price">₹ {{product.price}}</span>
                    </figure>
                </a>{% endfor %}</div>
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}