{% extends 'locator/common/base.html' %} {% load lookbook %} {% load category_tag %} {% load products %} {% load static %} {% block app_body %} {% include './components/products_carousel.html' %}
<div class="fluid-container mt-5 ml-2 mr-2">
    {% show_collections %}
    {% show_popular_deals %}
    
    {% for category in categories %}
    <div class="row mb-2">
        {% show_products category.id 5 %}
    </div>
    {% endfor %}
    
    {% show_popular_images %}
    <!-- New Section -->
    {% top_posts_locator 3 %}
    <!-- end -->
</div>
<!-- /.container -->
{% endblock %}