{% extends 'locator/common/base.html' %} {% load category_tag %} {% load products %} {% load static from staticfiles %} {% block app_body %} {% include './components/products_carousel.html' %}
<div class="fluid-container mt-5 ml-2 mr-2">
    {% show_collections %}

    {% for category in categories %}
    <div class="row">
        {% show_products category.id 5 %}
    </div>
    {% endfor %}
    <!-- New Section -->
    {% top_posts_locator 3 %}
    <!-- end -->
</div>
<!-- /.container -->
{% endblock %}