{% extends 'locator/common/base.html' %} {% load category_tag %} {% load products %} {% load static from staticfiles %} {% block app_body %} {% include './components/products_carousel.html' %}
<div class="fluid-container mt-5 ml-2 mr-2">
    <div class="row mb-2">
        <div class="col-sm-12 mt-3 category-banner shadow-sm">
            <h3 class="text-left ml-2">Top Selling</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                
                    {% include "locator/product/product_item.html" %}
                {% endfor %}</div>
        </div>

        <div class="col-sm-12 mt-3 category-banner shadow-sm">
            <h3 class="text-left ml-2">Trending Products</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                    {% include "locator/product/product_item.html" %}
                {% endfor %}</div>
        </div>
        <div class="col-sm-12 mt-3 category-banner shadow-sm">
            <h3 class="text-left ml-2">Top Selling</h3>
            <div id="columns" class="columns_4 mt-3">
                {% for product in products %}
                    {% include "locator/product/product_item.html" %}
                {% endfor %}</div>
        </div>
    </div>
    {% for category in categories %}
    <div class="row">
        {% show_products category.id 5 %}
    </div>
    {% endfor %}
    <!-- New Section -->
    {% top_posts_locator 3 %}
    <!-- end -->
</div>
<!-- /.container -->
{% endblock %}