<section class="banner-sec category-banner m-2 shadow-sm">
    <div class="fluid-container">
        <div class="top-head">
            <h3 style="display: inline-block;">{{category.name}}</h3>
            <a class="btn pd-3 btn-card" href="{{category.get_absolute_url}}" alt="{{category.name}}" rel="canonical">View All</a>
        </div>
        <div class="card-group mt-3">
            <div id="columns" class="columns_4 infinite-container">
                {% for product in products %} {% include "locator/product/product_item.html" %} {% endfor %}
            </div>
        </div>
        <!-- /.card-group -->
    </div>
    <!-- /.container -->
</section>