{% load products %}
<figure class="infinite-item deal-container-popular">
	<a href='{% url "locator:offer_detail" offer.slug %}' rel="canonical" title="{{offer.title}}">
    <img src="{{offer.image}}" class="img-responsive" alt="{{offer.title}}" title="{{offer.title}}">
    <figcaption name="name">{{offer.title|name}}</figcaption>
</a>
</figure>