{% extends 'locator/common/base.html' %} {% block app_title %} Checkout deals, offers, coupons and products across online stores  {% endblock app_title %} {% block app_body %}

<div class="fluid-container mt-1 ml-2 mr-2 image-container">
    <div class="row">
        <div class="col-md-12 text-center p-1">
            <h1>Checkout deals, offers, coupons and products across online stores</h1> 
        </div>
        <div class="col-md-12 p-1 text-center ">
            <p>Welcome to our style store, where you can find the best deals and coupons offered by online stores across the world. Zeshastyles lets you to discover more around the world regarding beauty, fashion, style trends, blogs, deals, offers and coupons.</p> 
        </div>
        <div class="col-md-12">
            <div id="columns" class="columns_4 infinite-container">
                {% if offers %} {% for offer in offers %} {% include 'locator/deals/deal_item.html' %} {% endfor %} {% else %}
                <h3 class="text-center">No Deals Found</h3> {% endif %}
            </div>
            {% if offers.has_next %}
            <a class="infinite-more-link pd-5" href="?page={{ offers.next_page_number }}" rel="canonical"></a> {% endif %}
            <div style="text-align:center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340" class="loader pd-5" style="display: none;text-align: center;">
                 <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                 <circle cx="170" cy="170" r="135" stroke="#404041"/>
                 <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                 <circle cx="170" cy="170" r="85" stroke="#404041"/>
            </svg>
        </div>

        </div>
    </div>
</div>
<script>
var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function() {
        $('.loader').show();
    },
    onAfterPageLoad: function($items) {
        $('.loader').hide();
    }
});
</script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b75c91b94940306"></script>
{% endblock %}