{% extends 'locator/common/base.html' %} {% block app_title %}{{offer.title}}{% endblock %} {% block app_body %}
<div class="fluid-container mt-1 ml-2 mr-2 pt-5">
    <div class="row pd-5">
        <div class="col-sm-4" style="text-align:center;max-height:400px;">
            <img class="img-responsive" src="{{offer.image}}" alt="{{offer.title}}" style="max-width: 89%;max-height: 350px;">
        </div>
        <div class="col-sm-8 pb-3">
            <h1 itemprop="name">{{offer.title}}</h1>
            {% if offer.code %}
                <span class="coupon-code" itemprop="code">Coupon: {{offer.code}}</span>
            {% else %}
                <span class="coupon-code" itemprop="code">No code necessary</span>
            {% endif %}
            <div class="mt-5">
            <a class="btn pd-3 btn-card" href='{{offer.external_url}}' target="_blank" rel="noopener noreferrer nofollow">Avail Offer</a>
            </div><hr>
            {% spaceless %}
            {% if offer.merchant.description %}
                <h3>Company Description</h3>
                <div class="item_description mt-3">
                {% autoescape off %} {{offer.merchant.description}} {% endautoescape %}</div>
            {% endif %}
            {% endspaceless %}

            {% spaceless %}
            {% if offer.description %}
                <h3 class="mt-1">Offer details</h3>
                <div class="item_description mt-3">
                {% autoescape off %} {{offer.description}} {% endautoescape %}</div>
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
</div>
{% endblock %}
