<figure class="infinite-item deal-container-popular">
	<a href='{% url "locator:offer_detail" offer.slug %}' title="{{offer.title}}">
    <img src="{{offer.image}}" class="img-responsive" alt="{{offer.title}}" title="{{offer.title}}">
    <figcaption name="name">{{offer.title}}</figcaption>
    <a class="btn pd-3 btn-card" href='{{offer.external_url}}' target="_blank" rel="noopener noreferrer nofollow">Avail Offer</a>
</a>
</figure>